body {
  font-family: sans-serif;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.voters-colunm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}
